<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WebGAE_Real</servlet-name>
		<servlet-class>com.vladi.gae1.WebGAE_RealServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Analytics</servlet-name>
		<servlet-class>com.vladi.gae1.AnalyticsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBQuery</servlet-name>
		<servlet-class>com.vladi.gae1.DBQueryServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>GeoLookup</servlet-name>
		<servlet-class>com.vladi.gae1.GeoLookupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GSODUpload</servlet-name>
		<servlet-class>com.vladi.gae1.GSODUploadServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>com.vladi.gae1.FeedbackServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>WebGAE_Real</servlet-name>
		<url-pattern>/webgae_real</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebGAE_Real</servlet-name>
		<url-pattern>/webgae_real_warch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Analytics</servlet-name>
		<url-pattern>/analytics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Analytics</servlet-name>
		<url-pattern>/analytics_warch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeoLookup</servlet-name>
		<url-pattern>/geolookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeoLookup</servlet-name>
		<url-pattern>/geolookup_warch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GSODUpload</servlet-name>
		<url-pattern>/gsodupload</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/feedback_warch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBQuery</servlet-name>
		<url-pattern>/dbquery</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
